In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# для оценки качества решения задачи регрессии
from sklearn.metrics import mean_squared_error, mean_absolute_error
# для оценки качества решения задачи классификации
from sklearn.metrics import confusion_matrix, classification_report
import tensorflow as tf

In [2]:
df_taxi = pd.read_csv("../data/taxi.csv")
df_taxi

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,hour_4_9,hour_10_15,hour_16_15,hour_night,pas0-3,pas4-6
0,-73.953918,40.778873,-73.963875,40.771164,400,0,0,1,0,1,0
1,-73.988312,40.731743,-73.994751,40.694931,1100,0,0,0,1,1,0
2,-73.997314,40.721458,-73.948029,40.774918,1635,0,0,1,0,1,0
3,-73.961670,40.759720,-73.956779,40.780628,1141,1,0,0,0,0,1
4,-74.017120,40.708469,-73.988182,40.740631,848,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
729317,-73.965919,40.789780,-73.952637,40.789181,296,0,1,0,0,1,0
729318,-73.996666,40.737434,-74.001320,40.731911,315,0,0,0,1,1,0
729319,-73.997849,40.761696,-74.001488,40.741207,673,0,0,1,0,1,0
729320,-74.006706,40.708244,-74.013550,40.713814,447,1,0,0,0,1,0
729321,-74.003342,40.743839,-73.945847,40.712841,1224,0,0,1,0,0,1

In [3]:
df_cs = pd.read_csv("../data/cs.csv")
df_cs

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,t_helmets,ct_defuse_kits,ct_players_alive,t_players_alive
48656,174.94,4.0,14.0,de_dust2,False,500.0,500.0,0.0,269.0,25750.0,27400.0,0.0,3.0,0.0,5.0,5.0
111472,175.00,0.0,0.0,de_overpass,False,500.0,500.0,300.0,400.0,1300.0,600.0,0.0,0.0,1.0,5.0,5.0
62915,94.94,5.0,8.0,de_train,False,500.0,467.0,500.0,387.0,9450.0,200.0,4.0,4.0,4.0,5.0,5.0
19132,175.00,14.0,12.0,de_inferno,False,500.0,500.0,0.0,497.0,16200.0,12650.0,0.0,5.0,0.0,5.0,5.0
90843,175.00,0.0,4.0,de_overpass,False,500.0,500.0,100.0,387.0,17150.0,24000.0,0.0,4.0,0.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122390,12.26,10.0,13.0,de_train,True,180.0,0.0,197.0,0.0,1150.0,0.0,1.0,0.0,1.0,2.0,0.0
122399,20.27,11.0,13.0,de_train,True,174.0,239.0,200.0,284.0,2000.0,2200.0,2.0,3.0,2.0,2.0,3.0
122400,0.24,11.0,13.0,de_train,True,119.0,178.0,182.0,195.0,2300.0,950.0,2.0,2.0,2.0,2.0,2.0
122404,35.41,11.0,14.0,de_train,True,315.0,428.0,382.0,467.0,150.0,5700.0,2.0,5.0,2.0,4.0,5.0
122405,15.41,11.0,14.0,de_train,True,200.0,242.0,195.0,359.0,100.0,5950.0,2.0,4.0,1.0,2.0,4.0

In [4]:
X_cs = df_cs.drop(["map", "bomb_planted"], axis=1)
y_cs = df_cs["bomb_planted"].apply(lambda x: 1 if x == True else 0)


X_cs_train, X_cs_test, y_cs_train, y_cs_test = train_test_split(X_cs, y_cs, test_size=0.3, random_state=42)

In [5]:
X_taxi = df_taxi.drop(['trip_duration'], axis = 1)
y_taxi = df_taxi['trip_duration']


X_taxi_train, X_taxi_test, y_taxi_train, y_taxi_test = train_test_split(X_taxi, y_taxi, test_size=0.3, random_state=42)